pre.shiki {
  background-color: #f9f9f9 !important;
}
html.dark pre.shiki {
  background-color: #18181b !important;
  color: var(--shiki-dark);
}

:root {
  --c-scrollbar: rgb(238, 238, 238);
  --c-scrollbar-bg: rgb(255, 255, 255);
  --c-scrollbar-hover: rgb(187, 187, 187);
}

.dark {
  --c-scrollbar: rgb(38, 38, 38);
  --c-scrollbar-bg: rgb(18, 18, 18);
  --c-scrollbar-hover: rgb(57, 57, 57);
}

* {
  scrollbar-color: var(--c-scrollbar) var(--c-scrollbar-bg);
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar:horizontal {
  height: 6px;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: var(--c-scrollbar-bg);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--c-scrollbar);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--c-scrollbar-hover);
}

.header-anchor {
  float: left;
  margin-top: 0.025rem;
  margin-left: -0.8em;
  /* padding-right: 0.5em; */
  font-weight: 600;
  text-decoration: none;
  opacity: 0;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  border-style: none !important;
}

h1:hover .header-anchor,
h2:hover .header-anchor,
h2:focus .header-anchor,
h3:hover .header-anchor,
h3:focus .header-anchor,
h4:hover .header-anchor,
h4:focus .header-anchor,
h5:hover .header-anchor,
h5:focus .header-anchor,
h6:hover .header-anchor,
h6:focus .header-anchor {
  opacity: 0.5;
}

.prose :where(code):not(:where(.not-prose, .not-prose *, pre code)) {
  font-size: 0.9em;
  font-weight: 400;
  background-color: #f5f5f5cc;
  padding: 0.2em 0.4em;
  border-radius: 0.3em;
}

.dark .prose :where(code):not(:where(.not-prose, .not-prose *, pre code)) {
  background-color: #f5f5f516;
}

.prose :where(:not(pre) > code):not(:where(.not-prose, .not-prose *))::before,
.prose :where(:not(pre) > code):not(:where(.not-prose, .not-prose *))::after {
  content: none;
}
